<div class="center jumbotron" id='card-profile'>
  <div>
    <h1>Welcome to My Cinema Rating</h1>
  </div>
  
  <% unless logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
    <p><h1>Already have an account</h1></p>
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %>
  <% else %>
    <h2>
      This is the home page for the
      <%= link_to 'My Cinema Rating', user_films_path(current_user), id: "logo" %>
    </h2>
  <% end %>
</div>

<%= render 'films/films', films: @q.result(distinct: true).where(published: true).paginate(page: params[:page], per_page: 4).order('id DESC') %>

<%# Film.all.where(published: true).paginate(page: params[:page], per_page: 4).order('id DESC')  %>
